﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PLogin.aspx.cs" Inherits="WebApplication2.WebForm4" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">  
        <title>login</title>  
        <style type="text/css">  
            .gmailbutton {  
                background-color: #CC142F;  
                color: white;  
                width: 190px;  
                height: 60px;
            }  
            body{
                background-color: #ccc;
            }
        </style>  
    </head>  
  
    <body>  
        <form id="form1" runat="server">  
            <center>
            <div>  <img alt="Logo" src="https://pagos.idconline.mx/images/Logo_p_idc.png" style="height: 182px; width: 371px" />
                <br />
                <br />
                <h1 style="font-family: cursive">Sistema de Consultoría PRUEBAS</h1>
                <br />
                <asp:Button ID="btnlogin" runat="server" Text="Iniciar Sesión Con Gmail" CssClass="gmailbutton" OnClick="btnlogin_Click1" Font-Bold="True"  /> 

            </div> 
                </center>
        </form>  
    </body>  
</html>
