﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Success.aspx.cs" Inherits="WebApplication2.Success" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body style="background-color:black">  
        <form id="form1" runat="server">  
            <div>  
                <table>  
                    <tr>  
                        <td>  
                            <asp:Image ID="imgprofile" runat="server" Height="100px" Width="100px" Visible="false" /> </td>  
                    </tr>  
                    <tr>  
                        <td> Id </td>  
                        <td>  
                            <asp:Label ID="lblid" runat="server" Text="" Visible="False"></asp:Label>  
                        </td>  
                    </tr>  
                    <tr>  
                        <td> Name </td>  
                        <td>  
                            <asp:Label ID="lblname" runat="server" Visible="False"></asp:Label>  
                        </td>  
                    </tr>  
                    <tr>  
                        <td> Gender </td>  
                        <td>  
                            <asp:Label ID="lblgender" runat="server" Visible="False"></asp:Label>  
                        </td>  
                    </tr>  
                    <tr>  
                        <td> locale </td>  
                        <td>  
                            <asp:Label ID="lbllocale" runat="server" Text="" Visible="False"></asp:Label>  
                        </td>  
                    </tr>  
                    <tr>  
                        <td> link </td>  
                        <td>  
                            <asp:HyperLink ID="hylprofile" runat="server" Visible="False">Profile link</asp:HyperLink>  
                        </td>  
                    </tr>  
                </table>  
            </div>  
            
            <asp:Label ID="Label1" runat="server" Text="" Font-Size="XX-Large" ForeColor="White"></asp:Label>
        </form>  
    </body>  
</html>
